body {
  background-color: #76736f;
  font-family: 'Josefin Slab', serif;
  margin: 0;
  width: 100%;
  color: white;
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header;
  background-color: #76736f; }

h1 {
  font-size: 1.8rem;
  margin: 0; }

.navbar-brand {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none; }

.navbar {
  background-color: #cb7ec1; }

.nav-link {
  color: white; }

.collapse {
  justify-content: flex-end; }

.active {
  font-weight: bold;
  color: white; }

main {
  margin-top: 110px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  grid-area: main; }

h2 {
  margin: 0.5rem;
  padding: 0;
  text-align: center;
  position: relative; }

p {
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 200;
  text-align: justify;
  justify-content: center; }

.row {
  align-items: center; }

.multimedia {
  width: 100%;
  height: 100%; }

a {
  color: white;
  text-decoration: none; }

footer {
  background-image: "img/wave.svg";
  grid-area: footer;
  width: 100%;
  max-width: 1320px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  footer p {
    font-size: 1.6rem;
    font-style: normal; }

.icon {
  margin: 1rem;
  height: 3rem;
  width: 3rem;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out; }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1320px;
  padding-top: 4rem;
  padding-bottom: 3rem;
  margin: auto; }

div .pintro {
  text-align: center;
  margin: auto;
  max-width: 1320px; }

#pensenanza {
  padding-top: 2rem; }

#flecha {
  animation-name: giro-flecha;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

.col-sm-12 {
  align-self: center; }

.col-md-2 {
  padding: 6%; }

#wa1 {
  margin: auto;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  animation-name: giro-flecha;
  margin-top: 1rem;
  animation-duration: 2s;
  animation-iteration-count: 1; }

.form {
  max-width: 900px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto; }

.boton {
  background-color: #cb7ec1;
  color: white;
  border-radius: 2px;
  border-color: white;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out; }

.icon:hover {
  transform: rotateY(360deg); }

#wa1:hover {
  transform: rotateY(360deg); }

.boton:hover {
  transform: translate(0, 2px); }

@keyframes giro-flecha {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }

@media screen and (max-width: 768px) {
  body {
    font-size: small; }
  h1 {
    font-size: 1rem; }
  footer p {
    font-size: 1rem;
    flex-direction: column;
    align-items: center; }
  .icon {
    margin: 0.5rem;
    height: 1.5rem;
    width: 1.5rem; }
  .pintro {
    margin: 1rem; }
  #flecha {
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    margin: auto; } }

@media screen and (max-width: 992px) {
  footer p {
    font-size: 1.3rem; } }
