body {
    background-color: $color-secundario;
    font-family: 'Josefin Slab', serif;
    margin: 0;
    width: 100%;
    color: $color-terciario;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}