footer {
    width: 100%;
    max-width: 1320px;
    margin: auto;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
        
    #footer-marca {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        
        #logo-footer {
            @include size-element(3rem, 3rem);
            margin-right: $margin;
        }
    }

    .icon {
        margin: $margin;
        @include size-element(3rem, 3rem);
        transition-property: all;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }
}