footer {
    
    background-image: "img/wave.svg";
    grid-area: footer;
    width: 100%;
    max-width: 1320px;
    margin: auto;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    p {
        font-size: $fuente*1.4;
        font-style: normal;
    }
}

.icon {
    margin: $margin;
    height: 3rem;
    width: 3rem;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
