header {
    grid-area: header;
    background-color: $color-secundario;
}

h1 {
    font-size: $fuente*1.8;
    margin: 0;
}

.navbar-brand {
    color: $color-terciario;
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events:none
}

.navbar {
    background-color: $color-primario;
}

.nav-link {
    color: $color-terciario;
}

.collapse {
    justify-content: flex-end;
}

.active {
    font-weight: bold;
    color: $color-terciario;
}

#logo {
    @include size-element(75px, 75px);
}