
@media screen and (max-width: 375px) {
    .pintro {
        font-size: $fuente*0.5;
        margin: $margin*0.5;
    }

    .pdescription {
        font-size: $fuente*0.5;
    }
    
    h1 {
        font-size: $fuente*0.5;
    }

    footer {
        flex-direction: column;
        align-items: center;
        p {
        font-size: $fuente*0.4;
        text-align: center;
        }
    }

    .icon {
        margin: $margin/2;
        @include size-element(1rem, 1rem);
    }

    #logo {
        @include size-element(35px, 35px);
    }
    #flecha {
        justify-items: center;
        align-content: center;
        justify-content: center;
        align-self: center;
        margin: auto;
    }
};


@media screen and (max-width: 768px) {
    .pintro {
        font-size: $fuente*1.5;
        margin: $margin;
    }

    .pdescription {
        font-size: $fuente*1.5;
    }
    
    
    h1 {
        font-size: $fuente;
    }

    #logo {
        width: 55px; 
        height: 55px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        p {
        font-size: $fuente;   
        text-align: center;
        }
    }

    .icon {
        margin: $margin/2;
        height: 1.5rem;
        width: 1.5rem;
    }

    #flecha {
        justify-items: center;
        align-content: center;
        justify-content: center;
        align-self: center;
        margin: auto;
    }
};

@media screen and (max-width: 992px) {

    footer { 
        p {
        font-size: $fuente*0.8;

        }
    }
};
