
@media screen and (max-width: 375px) {
    .pintro {
        font-size: $fuente*0.5;
        margin: $margin*0.5;
    }

    .pdescription {
        font-size: $fuente*0.5;
    }
    
    h1 {
        font-size: $fuente*0.5;
    }

    hr {
        display: inline;
    }

    footer {
        flex-direction: column;
        align-items: center;
        margin-top: $margin*2;
        .social {
            margin-top: $margin;
            .icon {
            margin: $margin/2;
            @include size-element(2rem, 2rem);
            }
        }

    }

    #logo {
        @include size-element(35px, 35px);
    }
    #flecha {
        justify-items: center;
        align-content: center;
        justify-content: center;
        align-self: center;
        margin: auto;
    }
};


@media screen and (max-width: 768px) {
    .pintro {
        font-size: $fuente*1.5;
        margin: $margin;
    }

    .pdescription {
        font-size: $fuente*1.5;
    }
    
    
    h1 {
        font-size: $fuente;
    }

    hr {
        display: inline;
    }

    #logo {
        width: 55px; 
        height: 55px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        margin-top: $margin*2;
        .social {
            margin-top: $margin;
            .icon {
            margin: $margin/2;
            @include size-element(3rem, 3rem);
            }
        }

    }

    #flecha {
        justify-items: center;
        align-content: center;
        justify-content: center;
        align-self: center;
        margin: auto;
    }
};

@media screen and (max-width: 992px) {
    hr {
        display: inline;
    }

};
